body{
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 18px;
  min-height: calc(100vh - 100px);
  width: 95vw;
}

header{
  text-align: center;
}

.data{
  font-weight: bold;
  font-size: 22px;
}

.description{
  font-style: italic;
  font-size: 23px;
}

main{
  display: flex;
  justify-content: space-evenly;
}

.footer{
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

hr{
  width: 50%;
}
